<!DOCTYPE html>
<html>
	<head>
		<title>	.:: JAVASCRIPT + PYTHON + CHART JS ::.</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
		<link rel="stylesheet" type="text/css" href="/static/css/jschart.css">
	</head>
	<body>
		<center>

			<h1>Pimeiro teste com <span id="name" >...</span> na versão <span id="version" >...</span></h1>
			<h3>Mas para que serve?!? <span id="message">PARA NADA</span>!!</h3><button id="btn">Conectar</button>
			<input type="text" id="Eid" name="ip_elk" placeholder="IP ELASTICSEARCH"/>

			<h3><font color="blue">Informações sobre a Infra Docker</font></h3>

			<table> 
				<thead>
					<tr>
						<th>CONTAINER</th>
						<th>MEMORY USAGE</th>
					</tr>
				</thead>
				<tbody id="docker_count">
					<tr>
						<td>NULL</td>
						<td>NULL</td>
					<tr>
				</tbody>
			</table>

			<h3>Quantidade de containers: <span id="qtd_containers">0</span></h3>
			
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script type="text/javascript">
				/* DESCOMENTE PARA CARREGAMENTO AUTOMATICO
				$(document).ready(function() {
				  setInterval(function() {
				    $("button#btn").trigger('click');
				  }, 5000); */

				$("#btn").click(function() {
					if($("#Eid").val()== null || $("#Eid").val() ==""){
						alert('<< INFORME O IP DO SRV ELK >>');
						return false;
					}
				});
				
				var text = "";
				$('button#btn').click(function(){
				$.ajax({
					url: "/receiver",
					type: "POST",
					data: "{\"IP\":\""+$("#Eid").val()+"\"}",
					success: function(resp){
						document.getElementById("version").innerHTML = "";
						document.getElementById("name").innerHTML = "";
						document.getElementById("message").innerHTML = "";
						// document.getElementById("docker_list").innerHTML = "";
						document.getElementById("docker_count").innerHTML = "";
						document.getElementById("qtd_containers").innerHTML = "";
						$('span#version').append(resp.version);
						$('span#name').append(resp.name);
						$('span#message').append(resp.message);
						

						//var arrMemTemp = resp.containers_docs.split(" ");
						//var arrNomeTemp = resp.containers_list.split(" ");
						var arrMemTemp = resp.containers_memory_usage.split(" ");
						var arrNomeTemp = resp.containers_list_name.split(" ");

						// remover campos vazios no array
						var arrDocs = arrMemTemp.filter(function (el) {
							if (el.replace(/\s/g, '').length) return el;
						}).map(function(el) {
							return el.trim();
						});
						// remover campos vazios no array
						var arrNome = arrNomeTemp.filter(function (el) {
							if (el.replace(/\s/g, '').length) return el;
						}).map(function(el) {
							return el.trim();
						});

						//console.log(typeof(arrDocs));
						//console.log(typeof(arrNome));
						//console.log(arrDocs);
						var i;
						
						for (i = 0; i < arrDocs.length; i++) {
							text = "<tr><td><b>Container Name.:</b> " + arrNome[i] + "</td><td> <b>Memory Usage.:</b>"+ arrDocs[i] +"% </td></tr>"
							console.log(text);
							$('tbody#docker_count').append(text);
  							
						}
						//$('span#docker_list').append(arrDocs);
						//$('span#docker_count').append(arrNome);

						if (arrDocs.length > 1){
							$('span#qtd_containers').append(arrDocs.length);
						}
						else{
							$('span#qtd_containers').append("LISTA VAZIA!");
						}
						montaGrafico(arrDocs, arrNome);
					},
					contentType: "application/json",
				});
				});
			</script>
			

			<!-- Start Canvas -> Desenhar elementos gráficos usando JS -->
			<canvas id="piechart" class="pie-chart" style="max-height:30% !important; max-width:30% !important; min-height:30% !important; min-width:30% !important;"></canvas>

			<!-- Include Chart JS -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
			<!-- Include Colorschemes Plugin for Chart JS -->
			<script src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.4.0/chartjs-plugin-colorschemes.js"></script>

			<script>
				// ctx = Context
				function montaGrafico(arr, nome) {
					var ctx2 = document.getElementsByClassName("pie-chart");
					var myPieChart = new Chart(ctx2, {
			    		type: 'pie',
			    		data: {
							datasets: [
							{
								data: arr,
								borderWidth: 3,
							}],
							// These labels appear in the legend and in the tooltips when hovering different arcs
						    labels: nome
						},
						options: {
							// Desativa a animação do carregamento
							//animation: false,
							title: {
								display: true,
								text: "DOCUMENTS / CONTAINER"
							},
							plugins: {
						      colorschemes: {
						        scheme: 'office.Orbit6'
						      }
						    }
						},
						
					});
				}
				
			</script>

		</center>
	</body>

	<!--
		Referências:
		https://www.makeuseof.com/tag/python-javascript-communicate-json/
		https://realpython.com/python-requests/

		AJAX com Flask
		https://github.com/michaelyousrie/Flask-Tutorials/tree/master/ajax%20with%20flask

		Limpar o campo antes de colocar o próximo elemento
		https://stackoverflow.com/questions/3450593/how-do-i-clear-the-content-of-a-div-using-javascript

		Campo INPUT com html transparente
		https://codepen.io/tyrus/pen/eLlgs

		Passar INPUT como parametro
		https://www.daniweb.com/programming/web-development/threads/274359/passing-input-text-value-to-ajax-call

		Converter CURL para Python Requests
		https://curl.trillworks.com/

		Usar Jquery para POST com dados em Json
		https://stackoverflow.com/questions/6255344/how-can-i-use-jquery-to-post-json-data
	-->
</html>