<!DOCTYPE html>
<html>
	<head>
		<title>	.:: JAVASCRIPT + PYTHON + CHART JS ::.</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
	</head>
	<body>
		<center>

			<h1>Pimeiro teste com <span id="name" >...</span> na versão <span id="version" >...</span></h1>
			<h3>Mas para que serve?!? <span id="message">PARA NADA</span>!!</h3>
		</center>

			<h3><font color="blue">Informações sobre a Infra Docker</font></h3>
			<p>Container Name: <span id="docker_list"> - </span>
			<p>Containers Documents: <span id="docker_count"> - </span>
		<center>
			<br /><br />
			<button id="btn">Conectar</button>
			<input type="text" id ="Eid" name="ip_elk" placeholder="IP ELASTICSEARCH"/>
			<br /><br />
			

			<!-- <div id="lista">
				Primeira integração com {{ name }} versão {{ version }} !
			</div> -->
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script type="text/javascript">

				/*$("#reloader").click(function(){
					$.ajax({
						url: "/receiver",
						type: "POST",
						success: function(resp){
							//$('div#content').append(resp.data);
							//$("div#content").load(" div#content").append(resp.data);;
						}
					})
					
				});*/
			// setup some JSON to use
			/* var cars = [
				{ "make":"Porsche", "model":"911S" },
				{ "make":"Mercedes-Benz", "model":"220SE" },
				{ "make":"Jaguar","model": "Mark VII" }
			];

			window.onload = function() {
				// setup the button click
				document.getElementById("theButton").onclick = function() {
					doWork()
				};
			}

			function doWork() {
				// ajax the JSON to the server
				$.post("receiver", cars, function(){

				});
				// stop link reloading the page
				event.preventDefault();
			}*/

			$('button#btn').click(function(){
				$.ajax({
					url: "/receiver",
					type: "POST",
					//data: '{ "IP": "192.168.1.6" }',
					data: "{\"IP\":\""+$("#Eid").val()+"\"}",
					success: function(resp){
						document.getElementById("version").innerHTML = "";
						document.getElementById("name").innerHTML = "";
						document.getElementById("message").innerHTML = "";
						document.getElementById("docker_list").innerHTML = "";
						document.getElementById("docker_count").innerHTML = "";
						$('span#version').append(resp.version);
						$('span#name').append(resp.name);
						$('span#message').append(resp.message);
						$('span#docker_list').append(resp.containers_list);
						$('span#docker_count').append(resp.containers_docs);
						console.log(typeof(resp.containers_docs));

						var arrDocsTemp = resp.containers_docs.split(" ");
						var arrNomeTemp = resp.containers_list.split(" ");

						// remover campos vazios no array
						//arrDocs = arrDocs.filter(Boolean);
						//arrNome = arrNome.filter(Boolean);

						var arrDocs = arrDocsTemp.filter(function (el) {
							if (el.replace(/\s/g, '').length) return el;
						}).map(function(el) {
							return el.trim();
						});

						var arrNome = arrNomeTemp.filter(function (el) {
							if (el.replace(/\s/g, '').length) return el;
						}).map(function(el) {
							return el.trim();
						});


						console.log(arrDocs);
						console.log(arrNome);

						montaGrafico(arrDocs, arrNome);


						//console.log(resp.elasticsearch);
						//console.log(resp.name);
						//console.log(resp.message);
						//console.log("Hello world!");
						//$('div#Response').load();
					},
					contentType: "application/json",
    				//dataType: 'json'
				});
			});
			</script>
			

			<!-- Start Canvas -> Desenhar elementos gráficos usando JS -->
			<canvas id="piechart" class="pie-chart" style="max-height:30% !important; max-width:30% !important; min-height:30% !important; min-width:30% !important;"></canvas>

			<!-- Include Chart JS -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
			<!-- Include Colorschemes Plugin for Chart JS -->
			<script src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.4.0/chartjs-plugin-colorschemes.js"></script>

			<script>
				// ctx = Context
				function montaGrafico(arr, nome) {
					var ctx2 = document.getElementsByClassName("pie-chart");
					var myPieChart = new Chart(ctx2, {
			    		type: 'pie',
			    		data: {
							datasets: [
							{
								data: arr,
								borderWidth: 3,
							}],
							// These labels appear in the legend and in the tooltips when hovering different arcs
						    labels: nome
						},
						options: {
							title: {
								display: true,
								text: "DOCUMENTS / CONTAINER"
							},
							plugins: {
						      colorschemes: {
						        scheme: 'office.Orbit6'
						      }
						    }
						},
						
					});
				}
				
			</script>

		</center>
	</body>

	<!--
		Referências:
		https://www.makeuseof.com/tag/python-javascript-communicate-json/
		https://realpython.com/python-requests/

		AJAX com Flask
		https://github.com/michaelyousrie/Flask-Tutorials/tree/master/ajax%20with%20flask

		Limpar o campo antes de colocar o próximo elemento
		https://stackoverflow.com/questions/3450593/how-do-i-clear-the-content-of-a-div-using-javascript

		Campo INPUT com html transparente
		https://codepen.io/tyrus/pen/eLlgs

		Passar INPUT como parametro
		https://www.daniweb.com/programming/web-development/threads/274359/passing-input-text-value-to-ajax-call

		Converter CURL para Python Requests
		https://curl.trillworks.com/

		Usar Jquery para POST com dados em Json
		https://stackoverflow.com/questions/6255344/how-can-i-use-jquery-to-post-json-data
	-->
</html>